.home_wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.homePizzaImg{
overflow: hidden;
width: 100%;
}

.title{
    position: relative;
    text-align: center;
}

.orderButton{
    position: relative;
    text-align: center;
margin-left: 45%;

    border: 1px dotted red;
    width:10%;
    height: 5vh;
}