.App {
  text-align: center;
}



.headerTitle{
  color: white;
  display: flex;
  justify-content: center;
}
.top-content{
  color: white;
  display: flex;
  flex-direction: column;

  margin: auto;
  padding-left: 43%;
  padding-bottom: 30%;
  padding-top: 20%;

}
.pizza-order{
  background: red;
  border-radius: 10px;
  color: white;
  font-size: 40px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.landing{
  background: grey;

}
.form-class{
  border: 5px solid black;
  padding: 5%;
  background:lightgrey;
}





.settings{
  border: 1px solid black;
  padding: 5%;
  background: white;

}

.order{
  padding: 5%;
}
