.home-div {
  display: flex;
  flex-direction: column;
}

.img-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
}
.cheese-pizza {
  width: 100%;
  height: 100%;
}
.pizza-div {
  width: 35%;
  max-height: 500px;
  margin: 2rem;
}
.product {
  font-size: 4rem;
}
