*{
  font-size: 1.3rem;
  color: #3887b7;
}

html{
  background-color: white;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;

}



form{
  border: black solid 2px;
  margin: 0 auto; 
  padding: 2%;
  background-color: white;
}

.submit-btn{
  width: 100px;
  color: red;
  border: solid 1px #3887b7;
  
}

label{
  margin-bottom: 45px;
  }

button{
  background-color: white;
  border: solid 1px #3887b7;
  text-decoration: none;
  border-radius: 7px;
}

.header> button {
  margin-top: 10px;
}

a{
  
  color: black;
  text-decoration: none;
}

a:hover{
  color: red;
}

.site-name{
  font-size: 3.7rem;
  margin-top: 30px;
  margin-bottom: 15px;
  font-family:  'Metal Mania', cursive; ;
}

img{
  width: 20%;
}

h1{
  color: red;
  -webkit-text-stroke: 1px black;
}